@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2 class="display-4">
        Dependency Injection Lifetime
    </h2>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Service Type</th>
            <th>First Instance Operation ID</th>
            <th>Second Instance Operation ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <tdstyle ="background-color: darksalmon"></tdstyle> 
                <td>
                    Transient
                </td>
                <tdstyle ="background-color: darksalmon"></tdstyle>
                <td>
                    @ViewBag.transient1
                </td>
                <tdstyle ="background-color: darksalmon"></tdstyle>
                <td>
                    @ViewBag.transient2
                </td>
       </tr>
<tr>
    <td>Scoped</td>
    <td>@ViewBag.scoped1</td>
    <td>@ViewBag.scoped2</td>
</tr>
<tr>
    <tdstyle ="background-color: aquamarine"></tdstyle>
        <td>
            Singleton
        </td>
        <tdstyle ="background-color: aquamarine"></tdstyle>
           <td>
            @ViewBag.singleton1
        </td>
        <tdstyle ="background-color: aquamarine"></tdstyle>
        <td>
            @ViewBag.singleton2
        </td>
</tr>
</tbody>
</table>  

